/* The following are tweaks for IE6
*/

#container
{
	/* padding-top: 24px; */
}

#main
{
	/* Weird bug that causes main text to go below right floating sidebar depending
		on size and spacing of sidebar paragraph text.
	*/
	/* width: 367px; */
}

ul.subnav li a, ul.subnav li a:visited
{
	/***
	background: 0px 0.5em no-repeat url(../images/list_link_dark.gif);
	margin-left: -10px;
	padding-left: 11px;
	***/
}

/***
#container-db ul.subnav li a, #container-db ul.subnav li a:visited
{
	background: none;
}

#container-db p.button
{
	margin-bottom: 10px;
}

#container-db p.instructions, #container-db p.response
{
	padding-left: 30px;
}
***/