/* The following are tweaks for IE7
*/

.table-horizontal .col-action
{
	width: 40px;
}

.table-horizontal .col-id
{
	width: 70px;
}

.table-horizontal .col-user
{
	width: 130px;
	background: #eee;
}

.table-horizontal .col-related
{
	width: 160px;
}


#container-db ul.subnav li a, #container-db ul.subnav li a:visited
{
	background: none;
}
