body
{
	font-family: verdana, arial, helvetica, sans-serif;
	color: #666;
	background: #fff;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
	font-weight: normal;
	position: relative;
	font-size: 75.00%;	/* 12px */
	line-height: 1.3;
}

p
{
	margin: 0px 0px 7px 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5
{
	color: #666;
	text-align: left;
	padding: 0px;
	letter-spacing: 0px;
	font-family: verdana, arial, helvetica, sans-serif;
}

h1
{
	font-size: 125.00%;
	margin: 0px 0px 10px 0px;
}

h2
{
	font-size: 116.67%;
	margin: 20px 0px 2px 0px;
}

h3
{
	font-size: 100%;
	margin: 10px 0px 0px 0px;
}

h4
{
	font-size: 100.00%;
	margin: 10px 0px 0px 0px;
}

h5
{
	font-size: 100.00%;
	margin: 10px 0px 0px 0px;
}

a, a:link { color: #333322; }

a:visited {	color: #555544; }

a:hover, a:active {	color: #000; }

textarea { width: auto; }

.banner
{
	margin: 30px 0px 20px 0px;
	padding: 0px 0px 0px 40px;
	text-align: left;
	width: auto;
	/* height: 100px; */
	background: #fff;
	position: relative;
}

.navbar
{
	height: 20px;
	line-height: 20px;
	/* width: 750px; */
	margin: 0px;
	padding: 5px 0px;
	text-align: left;
	background: #999;

	/* float: left; */
}

	.navbar ul
	{
		list-style: none;
		width: 750px;
		text-align: left;
		/* float: left; */

		margin: 0px 0px 0px 224px;
		padding: 0;

		/* height: 45px; */
		/* line-height: 45px; */
	}

		.navbar ul li
		{
			display: inline;
			/* float: left; */
			margin: 0px;
			padding: 0px 5px 0px 5px;  /* Works for most browsers */
		}

		.navbar ul li a, #navbar ul li a:visited
		{
			/* float: left; */
			margin: 0px;
			padding: 9px 10px 9px 10px;
			text-decoration: none;
			white-space: nowrap;
			color: #fff;
			font-weight: bold;
		}

		.navbar ul li a:hover, #navbar ul li a:active
		{
			color: #000;
			/* background: #a72b47; */
		}

		.navbar ul li a#urhere
		{
			color: #000;
		}

#container
{
	/* width: 850px; */
	width: 1200px;
	/* float: left; */
	margin: 0px;
	padding: 0px;		/* Need bottom padding for space at bottom of page? */
	background: #fff;
	clear: both;
	overflow: hidden;
}

	#container-content
	{
		/* float: left; */
		margin: 20px auto 0px auto;
		padding: 0px 0px 0px 0px;
		vertical-align: top;
		text-align: center;
	}

#main
{
	/* width: 630px; */
	width: 840px;
	margin: 0px 0px 0px 220px;
	padding: 0px;
	text-align: left;
	float: none;
}

	#main-content, #main-painting
	{
		vertical-align: top;
		margin: 0px 0px 0px 20px;
		padding: 0px;
		/* float: left; */
		float: none;
	}

	#main-content
	{
		float: left;
	}

	#main-image
	{
		margin-top: 10px;
	}


#sidebar
{
	float: left;
	width: 220px;
	margin: 0px;
	padding: 0;
	vertical-align: top;
	text-align: left;
}

	#sidebar ul
	{
		list-style: none;
		padding: 0px 10px 10px 40px;
	}

		#sidebar ul li
		{
			padding: 2px 0px;
		}

			#sidebar ul li a, #sidebar ul li a:visited
			{
				text-decoration: none;
				font-weight: bold;
				color: #666;
			}

			#sidebar ul li a:hover, #sidebar ul li a:active
			{
				color: #5cade2;
			}

			#sidebar ul li a#urhere
			{
				color: #5cade2;
			}

#bio-img
{
	float: left;
	margin: 0px 20px 20px 0px;
	border: 1px solid #999;
}



#thumbnails img.thumb-hover
{
	border-color: #6874b1;
}

#thumbnails img.thumb-selected
{
	border-color: #000;
}


#main-painting #title, #main-painting #medium, #main-painting size, #main-painting sold
{
	margin: 5px 0px 0px 0px;
	padding: 0;
	text-align: left;
}

#main-painting #title
{
	font-weight: bold;
}

#main-painting #medium, #main-painting #size, #main-painting #year
{
	display: inline;
	margin-right: 0px;
	margin-left: 0px;
}

#main-painting #sold
{
	color: #7f3434;
	font-weight: bold;
}

#previous, #next
{
	display: inline;
	margin: 5px 20px 5px 0px;
}

	#previous a, #next a
	{
		text-decoration: none;
		padding: 10px;
	}

.press
{
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
}

	.press .publication
	{
		text-align: right;
	}

#footer
{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	clear: both;
	padding: 0px 0px 15px 0px;
}

	#footer p#copyright
	{
		text-align: left;
		font-size: 83.33%;
	}

	#footer p#credit a, #footer p#credit a:visited
	{
		font-size: 83.33%;
		margin: 0px;
		padding: 5px 0px 5px 0px;
	}

	#footer p#credit a:hover, #footer p#credit a:active
	{
		color: #000;
	}

img.arrow
{
	margin: 0 0.5em 0 0;
	vertical-align: baseline;
}

table.table-for-sale
{
	float: left;
	width: 350px;
	margin: 10px 0px 0px 0px;
}

	table.table-for-sale th
	{
		width: 80px;
	}

	table.table-for-sale td h3
	{
		font-size: 91.67%;
	}

	table.table-for-sale td a
	{
		font-size: 91.67%;
	}

#store-text
{
	margin-left: 250px;
}

#img-detail
{
	float: left;
	width: 400px;
	margin: 0px;
	padding: 0px;
	text-align: left;
}

#img-detail p
{
	margin-top: 10px;
}

#print-detail
{
	float: right;
	width: 200px;
	margin: -30px 0px 0px 0px;
	padding: 0px;
}

	#print-detail form
	{
		margin: 0px 0px 10px 0px;
	}

dl#hp-quotes
{
	float: right;
	width: 280px;
	margin: 10px 0 20px 20px;
}

	dl#hp-quotes dt
	{
		font-weight: bold;
		margin: 0px 0px 15px 0px;
	}