<div class="banner">
  <%= link_to image_tag('graphics/logo_smash_10pt.png', :alt => "Shelah Horvitz", :size => "531x33"),
  :controller => :series, :action => 'index' %>
</div>

<div class="navbar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/statement">Statement</a></li>
    <li><a href="/bio">Bio</a></li>
    <li><a href="/news">News</a></li>
    <li><a href="/store">Store</a></li>
    <li><a href="/email_signup">Mailing List</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</div>