<div id='container'>
  <div id="container-content">
    <%= render "shared/nav_panel" %>
    <div id="main">
      <div id="main-content">

        <h1>Bio</h1>

        <%= image_tag('shelah.jpg', :size => "217x234", :id => "bio-img") %>

        <p>Shelah (pronounced 'shell-ah) is a fine artist living in Massachusetts. She has a B.A.
          in English Literature from Brown University, an M.F.A. in Painting from the University
          of Texas an San Antonio, and a B.S. in Computer Science from University of Massachusetts/Dartmouth.
        </p>
        <p>She first exhibited at the age of 22 in &ldquo;Ladies of Shalott: A Victorian Masterpiece
          and its Contexts&rdquo; (List Gallery, Brown University, 1983), where her work hung
          alongside the Victorian greats William Holman Hunt and John William Waterhouse. Since
          then she has exhibited in galleries and museums throughout the United States, and her
          work has appeared in Marie Claire Japon, Art in America, and on the BBC, and has been
          treated in scholarly books and monographs.
        </p>
        <p>She is currently represented by <strong><a href="http://galateaart.org/">Galatea Gallery</a></strong> in
          Boston's SOWA district and <strong><a href="http://www.atlanticworks.org/">Atlantic Works</a></strong> in East Boston.
        </p>

      </div>
    </div>
  </div>
</div>
