<div id='container'>
  <div id="container-content">
    <%= render "shared/nav_panel" %>
    <div id="main">
      <div id="main-content">

        <h1>Statement</h1>

        <p>We spend our days at computers, surrounded by technology. Our information, our relationships, our world comes to us virtually, onscreen. We sit in our cubicles and the physical world around us becomes less real than what is on the screen. Our world becomes a construct of the mind. Our bodies and senses lose their strength and vitality and we become less alive. We amass aches and pains and lists of things we cannot or do not dare do. The outdoors becomes a dangerous, exotic place where we never go, unless we are seeking thrills. The normalcy of the land, the water, and its wildlife is lost.</p>

        <p>Because a painting or drawing is a very tangible thing, I paint and draw for balance, to bring myself back to the physical world, and to bring others back with me.</p>

        <p>I have painted many things, but I like to do animals because to conjure an image, I have to do it from the inside-out. To draw a human, a creature, a tree, I have to become the thing and feel what it is to inhabit its body before I can get its anatomy right. The experience of inhabiting that animal and its world and viewpoint teaches me about how it has to live, what its difficulties and skills are, how it differs from me, and what I project onto it. I choose what I go into by what I want to learn.
        </p>

        <p>This is a mental journey, like an experience on the computer, but it forces me to look hard at the world and the creatures around me. It forces me to think about how they live and how my life affects how they live. So having drawn a deer, a fly, a squirrel, I now have a different relationship to these animals. They are not Other. They are kin. I have spent time with them. When you look at my drawings, you spend time with them.
        </p>

        <p>And for you, they also become kin.</p>

        <p>So my work seeks to reel us back from the abstract, from our divorce from our selves and each other and the world around us, so we remember, and can enjoy, our connections.
        </p>
      </div>
    </div>
  </div>
</div>
